@use '../abstracts' as *;
$accordion-transition-type: 'grid'; // grid or height

@if $accordion-transition-type == 'height' {
  .accordion {
    $radius: 5px;
    padding-inline: 12px;

    &__item {
      margin-bottom: 10px;
    }

    &__header {
      font-size: px-to-rem(18);
      border-radius: $radius;
      background-color: $clr-primary;
      cursor: pointer;
      transition: background-color var(--transition-duration, 300ms);

      & > * {
        cursor: inherit;
      }
      &.expanded-bg-clr {
        background-color: $clr-primary;
      }
    }

    &__toggler {
      width: 100%;
      padding: 20px 25px;

      color: $clr-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;

      svg {
        transition: transform var(--transition-duration, 0.3s);
      }

      &[aria-expanded='true'] svg {
        transform: rotate(180deg);
      }
      &:focus-visible {
        outline: 2px dashed $clr-black;
        outline-offset: 5px;
      }
    }

    &__collapse {
      &[data-state='closed'] {
        display: none;
      }
      &[data-state='collapsing'] {
        overflow: hidden;
        height: 0;
        transition: height var(--transitionDuration) linear;
      }
    }

    &__body-wrapper {
      padding-top: 15px;
    }

    &__body {
      background-color: $clr-white;
      border-radius: $radius;
      padding: 10px 25px;
    }
  }
}

@if $accordion-transition-type == 'grid' {
  .accordion {
    --_radius: 5px;
    --transition-duration-default: 300ms;
    --transition-duration-open: unset;
    --transition-duration-close: unset;

    &__item {
      margin-bottom: 10px;
    }

    &__grid {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows
        var(--transition-duration-close, var(--transition-duration-default));
    }

    &__grid[aria-hidden='false'] {
      transition: grid-template-rows
        var(--transition-duration-open, var(--transition-duration-default));
      grid-template-rows: 1fr;
    }

    &__toggle {
      font-size: px-to-rem(24);

      width: 100%;
      border-top-left-radius: var(--_radius);
      border-top-right-radius: var(--_radius);

      background-color: $clr-primary;
      transition: background-color
        var(--transition-duration-close, var(--transition-duration-default));

      color: $clr-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
      padding: 20px 25px;
      cursor: pointer;

      &[aria-expanded='true'] {
        background-color: $clr-success;
        transition: background-color
          var(--transition-duration-open, var(--transition-duration-default));
      }

      svg {
        transition: transform
          var(--transition-duration-close, var(--transition-duration-default));
      }

      &[aria-expanded='true'] svg {
        transition: transform
          var(--transition-duration-open, var(--transition-duration-default));
        transform: rotate(180deg);
      }

      &:focus-visible,
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    }

    &__grid-row {
      overflow: hidden;
    }

    &__body {
      margin-top: 10px;
      background-color: $clr-warning;
      padding: 20px 15px;
    }

    // only needed for accordion type: one-in-group
    &--block-interaction {
      .accordion__toggle {
        pointer-events: none;
      }
    }
  }
}
