@use '../abstracts' as *;

.btn {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &--link {
    background-color: $clr-white;
    padding: px-to-rem(17) px-to-rem(19);
    font-size: px-to-rem(15);
    letter-spacing: 1;
    text-transform: uppercase;
  }
}
