.suggestion {
  position: relative;

  &__list {
    left: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: var(--z-level-2);
    border: 1px solid #d4d4d4;
  }

  li {
    padding: 0.5rem;
    border-bottom: 1px solid #d4d4d4;
  }
  li:hover {
    background-color: #e9e9e9;
    cursor: pointer;
  }
}
