@use 'functions' as *;

/*
  Bootstrap Breakpoints
*/

/* em */
// $grid-breakpoints: (
//   xs: 0,
//   sm: px-to-em(576),
//   md: px-to-em(768),
//   lg: px-to-em(992),
//   xl: px-to-em(1200),
//   xxl: px-to-em(1400),
// );

/* rem */
$grid-breakpoints: (
  xs: 0,
  sm: px-to-rem(576),
  md: px-to-rem(768),
  lg: px-to-rem(992),
  xl: px-to-rem(1200),
  xxl: px-to-rem(1400),
);

/* px */
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );
