@use 'functions' as *;

// container max-widths
$container-max-widths: (
  sm: px-to-rem(540),
  md: px-to-rem(720),
  lg: px-to-rem(960),
  xl: px-to-rem(1140),
  xxl: px-to-rem(1320),
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
