@use 'sass:map';
@use 'functions' as *;

/*
  maps for css custom properties, it's generated in base/_root.scss
*/

// custom properties for anything
//
$custom-properties: (
  'xs': (
    'z-level-1': 999,
    'z-level-2': 998,
    'z-level-3': 997,
    'z-level-4': 996,
  ),
  'md': (),
  'lg': (),
  'xl': (),
  'xxl': (),
);

// custom properties for clamp()
//
$clamp-prefix: clamp-;
$size-clamp: (
  card-font: (
    sm: 16,
    md: 48,
  ),
  heading: (
    sm: 16,
    xxl: 128,
  ),
);
