%button-default-style {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

%list-default-style {
  list-style: none;
  a {
    text-decoration: none;
    color: #fff;
  }
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-align-center {
  display: flex;
  align-items: center;
}
