@use 'functions' as *;
@use 'sass:map';
@use 'sizes' as *;
@use 'colors' as *;
@use 'variables' as *;

// Utilities

$negative-sizes: if(
  $enable-negative-margins,
  negativify-map($sizes-regular),
  null
) !default;

$negative-sizes-irregular: if(
  $enable-negative-margins-irregular,
  negativify-map($sizes-irregular),
  null
) !default;

$order-values: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);

// - z-index values
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
);

$percentage-values: (
  0: 0,
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  30: 30%,
  35: 35%,
  40: 40%,
  45: 45%,
  50: 50%,
  55: 55%,
  60: 60%,
  65: 65%,
  70: 70%,
  75: 75%,
  80: 80%,
  85: 85%,
  90: 90%,
  95: 95%,
  100: 100%,
);

$font-weight: (
  'thin': 100,
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900,
);

$opacity: (
  0: 0,
  10: 0.1,
  25: 0.25,
  50: 0.5,
  75: 0.75,
  100: 1,
);

$fixed-values: (
  200: 200px,
);

/* 
  MAIN UTILITIES MAP
  syntax of a utility class: $class-$value, 
  syntax of a utility class with responsivness; $class-$breakpoint-$value

  example 1: 
  (
    class: z,
    property: z-index,
    values: (
      1: 1, 
      2: 2, 
      3: 3, 
      4: 4
    )
    responsive: true,
  )
  output: .z-1, .z-2, .z-3, .z-4;
  output responsive: .z-sm-1, z-md-1, z-lg-1 etc.

  example 2:
  (
    class: d,
    property: display,
    values: grid
  )
  output: .d-grid


  example 3:
  (
    class: justify,
    property: justify-content,
    value: (
      between: space-between,
      even: space-evenly,
    )
  )
  output: 
  .justify-content-between
  .justify-content-even

*/

$utilities: ();
$utilities: map-merge(
  (
    'z-highest': (
      property: z-index,
      css-variable-name: z-level-1,
      class: z-level-1,
    ),
    'z-2nd-highest': (
      property: z-index,
      css-variable-name: z-level-2,
      class: z-level-2,
    ),
    'z-3rd-highest': (
      property: z-index,
      css-variable-name: z-level-3,
      class: z-level-3,
    ),
    'z-4th-highest': (
      property: z-index,
      css-variable-name: z-level-4,
      class: z-level-4,
    ),
    'translate-negative-center': (
      property: transform,
      class: translate-n,
      values: (
        center: translate(-50%, -50%),
      ),
    ),
    'translate-center': (
      property: transform,
      class: translate,
      values: (
        center: translate(50%, 50%),
      ),
    ),
    'translate-y': (
      property: transform,
      class: translate-y,
      values: (
        0: translateY(0),
        10: translateY(10%),
        15: translateY(15%),
        20: translateY(20%),
        25: translateY(25%),
        30: translateY(30%),
        35: translateY(35%),
        40: translateY(40%),
        45: translateY(45%),
        50: translateY(50%),
        55: translateY(55%),
        60: translateY(60%),
        65: translateY(65%),
        70: translateY(70%),
        75: translateY(75%),
        80: translateY(80%),
        85: translateY(85%),
        90: translateY(90%),
        95: translateY(95%),
        100: translateY(100%),
      ),
    ),

    'translate-negative-y': (
      property: transform,
      class: translate-n-y,
      values: (
        10: translateY(-10%),
        15: translateY(-15%),
        20: translateY(-20%),
        25: translateY(-25%),
        30: translateY(-30%),
        35: translateY(-35%),
        40: translateY(-40%),
        45: translateY(-45%),
        50: translateY(-50%),
        55: translateY(-55%),
        60: translateY(-60%),
        65: translateY(-65%),
        70: translateY(-70%),
        75: translateY(-75%),
        80: translateY(-80%),
        85: translateY(-85%),
        90: translateY(-90%),
        95: translateY(-95%),
        100: translateY(-100%),
      ),
      responsive: true,
    ),
    'translate-negative-x': (
      property: transform,
      class: translate-n-x,
      values: (
        10: translateX(-10%),
        15: translateX(-15%),
        20: translateX(-20%),
        25: translateX(-25%),
        30: translateX(-30%),
        35: translateX(-35%),
        40: translateX(-40%),
        45: translateX(-45%),
        50: translateX(-50%),
        55: translateX(-55%),
        60: translateX(-60%),
        65: translateX(-65%),
        70: translateX(-70%),
        75: translateX(-75%),
        80: translateX(-80%),
        85: translateX(-85%),
        90: translateX(-90%),
        95: translateX(-95%),
        100: translateX(-100%),
      ),
      responsive: true,
    ),
    'translate-x': (
      property: transform,
      class: translate-x,
      values: (
        0: translateX(0),
        10: translateX(10%),
        15: translateX(15%),
        20: translateX(20%),
        25: translateX(25%),
        30: translateX(30%),
        35: translateX(35%),
        40: translateX(40%),
        45: translateX(45%),
        50: translateX(50%),
        55: translateX(55%),
        60: translateX(60%),
        65: translateX(65%),
        70: translateX(70%),
        75: translateX(75%),
        80: translateX(80%),
        85: translateX(85%),
        90: translateX(90%),
        95: translateX(95%),
        100: translateX(100%),
      ),
      responsive: true,
    ),

    'border-radius': (
      property: border-radius,
      class: radius,
      values: $sizes-regular,
    ),
    'border-solid-black': (
      property: border,
      class: border-solid,
      values: (
        black: 1px solid black,
      ),
    ),
    'overlay': (
      property: border-image,
      class: overlay,
      values: (
        dark: fill 0 linear-gradient(#0003, #000),
      ),
    ),
    'overflow': (
      property: overflow,
      class: oveflow,
      values: hidden visible auto scroll,
    ),
    'overflow-x': (
      property: overflow,
      class: oveflow,
      values: hidden visible auto scroll clip,
    ),
    'overflow-y': (
      property: overflow,
      class: oveflow,
      values: hidden visible auto scroll clip,
    ),

    'width': (
      property: width,
      class: w,
      values: $percentage-values,
    ),
    'height': (
      property: height,
      class: h,
      values: $percentage-values,
    ),
    'box-sizing': (
      property: box-sizing,
      class: box,
      values: (
        content: content-box,
        border: border-box,
      ),
    ),
    'isolation': (
      property: isolation,
      class: isolation,
      values: (
        isolate: isolate,
      ),
    ),
    'z-index': (
      property: z-index,
      class: z,
      values: $zindex-levels,
    ),
    'position': (
      property: position,
      class: position,
      values: (
        absolute: absolute,
        relative: relative,
        static: static,
      ),
    ),
    'position-bot': (
      property: bottom,
      class: bot,
      values: $percentage-values,
    ),
    'position-top': (
      property: top,
      class: top,
      values: $percentage-values,
    ),
    'position-start': (
      property: left,
      class: left,
      values: $percentage-values,
    ),
    'position-end': (
      property: right,
      class: end,
      values: $percentage-values,
    ),
    'inset': (
      property: inset,
      class: inset,
      values: (
        full: 0,
      ),
    ),
    'border-top': (
      property: border-top,
      values: (
        solid: 1px solid #979797,
      ),
    ),
    'order': (
      property: order,
      class: order,
      values: (
        0: 0,
        1: 1,
        2: 2,
        3: 3,
      ),
      responsive: true,
    ),
    'margin': (
      property: margin,
      class: m,
      values: $sizes-regular,
      responsive: true,
    ),
    'margin-i': (
      property: margin,
      class: m-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-top': (
      property: margin-top,
      class: mt,
      values:
        map-merge(
          $sizes-regular,
          (
            auto: auto,
          )
        ),
      responsive: true,
    ),
    'margin-top-irregular': (
      property: margin-top,
      class: mt-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-bot': (
      property: margin-bottom,
      class: mb,
      values:
        map-merge(
          $sizes-regular,
          (
            auto: auto,
          )
        ),
      responsive: true,
    ),
    'margin-bot-irregular': (
      property: margin-bottom,
      class: mb-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-left': (
      property: margin-left,
      class: ms,
      responsive: true,
      values:
        map-merge(
          $sizes-regular,
          (
            auto: auto,
          )
        ),
    ),
    'margin-left-irregular': (
      property: margin-left,
      class: ms-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-right': (
      property: margin-right,
      class: me,
      values:
        map-merge(
          $sizes-regular,
          (
            auto: auto,
          )
        ),
      responsive: true,
    ),
    'margin-right-irregular': (
      property: margin-right,
      class: me-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-inline': (
      property: margin-inline,
      class: mx,
      responsive: true,
      values:
        map-merge(
          $sizes-regular,
          (
            auto: auto,
          )
        ),
    ),
    'margin-inline-irregular': (
      property: margin-inline,
      class: mx-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'margin-block': (
      property: margin-block,
      class: my,
      values: $sizes-regular,
      responsive: true,
    ),
    'margin-block-irregular': (
      property: margin-block,
      class: my-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'negative-margin': (
      property: margin,
      class: m,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-top': (
      property: margin-top,
      class: mt,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-bottom': (
      property: margin-bottom,
      class: mb,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-left': (
      property: margin-left,
      class: ms,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-right': (
      property: margin-right,
      class: me,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-block': (
      property: margin-block,
      class: my,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-inline': (
      property: margin-inline,
      class: mx,
      values: $negative-sizes,
      responsive: true,
    ),
    'negative-margin-irregular': (
      property: margin,
      class: m-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-top-irregular': (
      property: margin-top,
      class: mt-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-bottom-irregular': (
      property: margin-bottom,
      class: mb-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-left-irregular': (
      property: margin-left,
      class: ms-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-right-irregular': (
      property: margin-right,
      class: me-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-block-irregular': (
      property: margin-block,
      class: my-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'negative-margin-inline-irregular': (
      property: margin-inline,
      class: mx-i,
      values: $negative-sizes-irregular,
      responsive: true,
    ),
    'padding': (
      property: padding,
      class: p,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-irregular': (
      property: padding,
      class: p-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-top': (
      property: padding-top,
      class: pt,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-top-irregular': (
      property: padding-top,
      class: pt-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-bottom': (
      property: padding-bottom,
      class: pb,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-bottom-irregular': (
      property: padding-bottom,
      class: pb-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-left': (
      property: padding-left,
      class: ps,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-left-irregular': (
      property: padding-left,
      class: ps-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-right': (
      property: padding-right,
      class: pe,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-right-irregular': (
      property: padding-right,
      class: pe,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-block': (
      property: padding-block,
      class: py,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-block-irregular': (
      property: padding-block,
      class: py-i,
      values: $sizes-irregular,
      responsive: true,
    ),
    'padding-inline': (
      property: padding-inline,
      class: px,
      values: $sizes-regular,
      responsive: true,
    ),
    'padding-inline-irregular': (
      property: padding-inline,
      class: px-i,
      values: $sizes-irregular,
      responsive: true,
    ),

    'display': (
      property: display,
      class: d,
      values: (
        flex: flex,
        grid: grid,
        block: block,
        inline-block: inline-block,
        inline: inline,
        contents: contents,
      ),
      responsive: true,
      important: true,
    ),
    'flex-direction': (
      property: flex-direction,
      class: flex,
      values: (
        column: column,
        row: row,
      ),
    ),
    'flex-wrap': (
      property: flex-wrap,
      class: flex,
      values: (
        nowrap: nowrap,
        wrap: wrap,
      ),
    ),
    'place-items': (
      property: place-items,
      class: place-items,
      values: center,
    ),
    'justify-content': (
      responsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'align-items': (
      responsive: true,
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'align-self': (
      responsive: true,
      property: align-self,
      values: start center end,
    ),
    'justify-self': (
      responsive: true,
      property: justify-self,
      values: start center end,
    ),
    'flex-grow': (
      property: flex-grow,
      class: flex-grow,
      values: $order-values,
    ),
    'gap': (
      property: gap,
      class: gap,
      values: $sizes-regular,
    ),
    'gap-irregular': (
      property: gap,
      class: gap-i,
      values: $sizes-irregular,
    ),
    'column-gap': (
      property: column-gap,
      class: col-gap,
      values: $sizes-regular,
    ),
    'column-gap-irregular': (
      property: column-gap,
      class: col-gap,
      values: $sizes-irregular,
    ),
    'row-gap': (
      property: row-gap,
      class: row-gap,
      values: $sizes-regular,
    ),
    'row-gap-irregular': (
      property: row-gap,
      class: row-gap,
      values: $sizes-irregular,
    ),
    'font-size': (
      property: font-size,
      class: fs,
      values: $sizes-regular,
    ),
    'font-size-irregular': (
      property: font-size,
      class: fs-i,
      values: $sizes-irregular,
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: $font-weight,
    ),
    'text-decoration': (
      property: text-decoration,
      class: decoration,
      values: (
        none: none,
      ),
    ),
    'text-align': (
      property: text-align,
      class: text,
      values: (
        'start': start,
        'end': end,
        'center': center,
      ),
    ),
    'opacity': (
      property: opacity,
      class: opacity,
      values: $opacity,
    ),
    'background-colors': (
      property: background-color,
      local-vars: (
        'alpha': 1,
      ),
      class: bg,
      values:
        map.merge(
          map-loop(
            $active-theme-rgb,
            rgba-css-var,
            '$key',
            'alpha',
            $color-prefix
          ),
          (
            'transparent': transparent,
          )
        ),
      responsive: true,
    ),
    'text-colors': (
      property: color,
      local-vars: (
        'alpha': 1,
      ),
      class: text,
      values:
        map.merge(
          map-loop(
            $active-theme-rgb,
            rgba-css-var,
            '$key',
            'alpha',
            $color-prefix
          ),
          (
            'transparent': transparent,
          )
        ),
      responsive: true,
    ),
    'alpha-channel': (
      css-var: true,
      class: alpha,
      responsive: true,
      values: $opacity,
    ),
  ),
  $utilities
);
