@use 'colors' as *;
@use 'fonts' as *;
@use 'functions' as *;
@use 'sizes' as *;
@use 'sass:map';

// colors
$clr-primary: var(--clr-primary);
$clr-secondary: var(--clr-secondary);
$clr-success: var(--clr-success);
$clr-info: var(--clr-info);
$clr-warning: var(--clr-warning);
$clr-danger: var(--clr-danger);
$clr-light: var(--clr-light);
$clr-dark: var(--clr-dark);
$clr-black: var(--clr-black);
$clr-white: var(--clr-white);
// font-weight
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// general
$prefix: '';
$selected-theme: default;
$active-theme: map.get($color-theme-flat, $selected-theme);
$active-theme-rgb: map-loop($active-theme, to-rgb, '$value');

$enable-negative-margins: false;
$enable-negative-margins-irregular: false;
$enable-media-query-dark-mode: false;
$focus-ring: 2px dashed $clr-primary;
$focus-ring-offset: 1px;

// bootstrap grid-system and container
$bs-prefix: bs-;
$enable-bootstrap-grid-system: true;
$enable-cssgrid: false;
$enable-container-classes: false;

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$gutters: $sizes-regular;

// grid setting
$grid-gutter-width: 16px !default;
$grid-even-col-gap: $grid-gutter-width;
$grid-even-row-gap: $grid-gutter-width;

// container setting
$enable-container-classes: true;
$container-padding-x: 12px;

// body
$body-font-family: $font-family-base;
$body-font-size: px-to-rem(16);
$body-line-height: 1.5;
$body-font-weight: null;
$body-text-color: null;
$body-background-color: null;
$body-min-height: null;

//header
$nav-header: var(--sz-nav-header);

@debug nav-height in variables calc(500px - $nav-header);
