@use '../abstracts' as *;
@use 'sass:map';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:math';

:root {
  // css variables for default color theme
  @each $color, $shade-map in $active-theme {
    $type: meta.type-of($shade-map);

    @if ($type == 'color') {
      --#{$prefix}#{$color-variable-prefix}#{$color}: #{$shade-map};
    } @else if ($type == 'map') {
      @each $shade, $value in $shade-map {
        @if (meta.type-of($value) != 'color') {
          @error '#{$value} is not a color!';
        }
        --#{$prefix}#{$color-variable-prefix}#{$color}-#{$shade}: #{$value};
      }
    } @else {
      @error 'the input is not correct';
    }
  }

  /* Generates CSS variables with clamp() values derived from the font-size-clamp and spacer-clamp maps in fonts.scss and spacing.scss */
  $clamp-map: map.merge($font-size-clamp, $spacer-clamp);
  @debug clamp-map $clamp-map;
  @each $key, $map in $clamp-map {
    @debug bin drin;
    $threshold: map.keys($map);
    $sizeMin: map.get($map, list.nth($threshold, 1));
    $sizeMax: map.get($map, list.nth($threshold, 2));
    $viewportMin: list.nth($threshold, 1);
    $viewportMax: list.nth($threshold, 2);

    $deltaSize: $sizeMax - $sizeMin;
    $deltaViewport: $viewportMax - $viewportMin;
    $change: math.div($deltaSize, $deltaViewport);

    $preferred: px-to-rem($sizeMax - ($viewportMax * $change));

    $rateOfChange: 100vw * $change;

    $sizeMin: px-to-rem($sizeMin);
    $sizeMax: px-to-rem($sizeMax);

    --#{$prefix}#{$clamp-prefix}#{$key}: clamp(
      #{$sizeMin},
      #{$preferred} + #{$rateOfChange},
      #{$sizeMax}
    );
  }

  $spacer-default: map.get($spacers, default);
  $fs-default: map.get($font-sizes, default);

  // css variables for spacers
  @if (list.length($spacer-default) > 0) {
    @each $size-name, $size-value in $spacer-default {
      --#{$prefix}#{$spacer-prefix}#{$size-name}: #{$size-value};
    }
  }

  // css variables for font-size
  @if (list.length($fs-default) > 0) {
    @each $size-name, $size-value in $fs-default {
      --#{$prefix}#{$font-prefix}#{$size-name}: #{$size-value};
    }
  }

  $spacers-no-default: map-remove($spacers, 'default');
  $font-sizes-no-default: map-remove($font-sizes, 'default');

  // css variables for spacers != default
  @if (list.length($spacers-no-default) > 0) {
    @each $screen-size, $size-map in $spacers-no-default {
      @include mq($screen-size) {
        @each $size-name, $size-value in $size-map {
          @debug $screen-size, $size-name, $size-value;

          --#{$prefix}#{$spacer-prefix}#{$size-name}: #{$size-value};
        }
      }
    }
  }

  // css variables for font-sizes != default
  @if (list.length($font-sizes-no-default) > 0) {
    @each $screen-size, $size-map in $font-sizes-no-default {
      @include mq($screen-size) {
        @each $size-name, $size-value in $size-map {
          --#{$prefix}#{$font-prefix}#{$size-name}: #{$size-value};
        }
      }
    }
  }

  @if ($enable-media-query-dark-mode) {
    @media (prefers-color-scheme: dark) {
      @each $color, $shade-map in map.get($color-theme, dark) {
        @each $shade, $value in $shade-map {
          --#{$prefix}#{$color-variable-prefix}#{$color}-#{$shade}: #{$value};
        }
      }
    }
  }
}

// css variables for other color themes
@each $theme, $theme-map in $color-theme {
  @if ($theme != 'default') {
    :root[data-theme='#{$theme}'] {
      @each $color, $shade-map in $theme-map {
        $type: meta.type-of($shade-map);

        @if ($type == 'color') {
          --#{$prefix}#{$color-variable-prefix}#{$color}: #{$shade-map};
        } @else if ($type == 'map') {
          @each $shade, $value in $shade-map {
            @if (meta.type-of($value) != 'color') {
              @error '#{$value} is not a color!';
            }

            --#{$prefix}#{$color-variable-prefix}#{$color}-#{$shade}: #{$value};
          }
        } @else {
          @error 'the input is not correct';
        }
      }
    }
  }
}
