@charset 'utf-8';
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

select,
input,
button,
textarea {
  font: inherit;
  color: inherit;
}
