/*
  css variable syntax: --prefix-colorName-colorShade 
  prefix: clr
  colorName: grey, green, primary, secondary etc
  colorShade (optional): 100, 200 etc.

  example: 
  --clr-green-100
  --clr-primary  // without shade

  Each color theme except 'default' generates a CSS selector :root[data-theme=${theme}]. 
  This allows you to dynamically change the color theme using JavaScript.

*/

$color-prefix: clr-;

$color-theme: (
  default: (
    'grey': (
      '900': #141414,
      '800': #1f1f1f,
      '700': #333,
    ),
    'green': (
      '400': #c4f82a,
    ),
    'white': (
      '400': #fff,
    ),
  ),
);

$clr-grey-900: var(--clr-grey-900);
$clr-grey-800: var(--clr-grey-800);
$clr-grey-700: var(--clr-grey-700);
$clr-green-400: var(--clr-green-400);
$clr-white-400: var(--clr-white-400);
