@use 'functions' as *;

// font
$font-family-base: sans-serif;
$font-family-accent: serif;

$font-weight: (
  'thin': 100,
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900,
);

$font-size-clamp: (
  heading: (
    sm: 16,
    xxl: 128,
  ),
);
