@use 'functions' as *;

$font-sizes: (
  'default': (
    'fs-text-content-preset': px-to-rem(14),
    'fs-heading-preset': px-to-rem(24),
  ),
  'sm': (
    'fs-text-content-preset': px-to-rem(15),
    'fs-heading-preset': px-to-rem(25),
  ),
  'md': (
    'fs-text-content-preset': px-to-rem(16),
    'fs-heading-preset': px-to-rem(26),
  ),
);

$font-size-clamp: (
  heading: (
    576: 16,
    1400: 128,
  ),
);

$font-family-base: sans-serif;
$font-family-accent: serif;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$fs-text-content-preset: var(--fs-text-content-preset);
$fs-heading-preset: var(--fs-heading-preset);
