@use 'sass:map';
@use 'functions';

$factor: 0.25rem;
$sizes-list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 24;
$sizes: ();

/*
  the @each loop will generate:
  $sizes: (
    1: 0.25rem
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    ...
  )
*/

@each $size in $sizes-list {
  $sizes: map.merge(
    $sizes,
    (
      $size: $factor * $size,
    )
  );
}

$spacers-prefix: 'sc-';
$spacers: (
  'default': (
    size-preset-primary: 24px,
  ),
  'md': (
    size-preset-primary: 40px,
  ),
);

$spacer-clamp: (
  card-font: (
    375: 16,
    768: 48,
  ),
);

$size-preset-primary: var(--sc-size-preset-primary);
