@use 'sass:map';
@use 'functions';

$factor: 0.25rem;
$sizes-list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
  20, 24;

$sizes-regular: ();
$sizes-irregular: (
  32: 32rem,
  89: 89rem,
  'nav': 99px 100px,
);

/*
  the @each loop will generate:
  $sizes: (
    1: 0.25rem
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    ...
  )
*/

@each $size in $sizes-list {
  $sizes-regular: map.merge(
    $sizes-regular,
    (
      $size: $factor * $size,
    )
  );
}

$spacers: (
  'default': (
    sc-size-preset-primary: 24px,
  ),
  'md': (
    sc-size-preset-primary: 40px,
  ),
  'lg': (
    sc-size-preset-primary: 41px,
  ),
);

$spacer-clamp: (
  card-font: (
    375: 16,
    768: 48,
  ),
);

$size-preset-primary: var(--sc-size-preset-primary);
