@use 'sass:map';
@use 'functions' as *;

$factor: 0.25rem;
$sizes-list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
  20, 24;

$sizes-regular: ();
$sizes-irregular: ();

/*
  the below @each loop will generate:
  $sizes: (
    1: 0.25rem
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    ...
  )
*/

@each $size in $sizes-list {
  $sizes-regular: map.merge(
    $sizes-regular,
    (
      $size: $factor * $size,
    )
  );
}

/*
  map for css spacer variables
*/

$spacer-prefix: sc-;
$spacers: (
  'default': (),
  'md': (),
  'lg': (),
  'xl': (),
  'xxl': (),
);

/*
  map for css clamp variables
*/

$clamp-prefix: clamp-;
$spacer-clamp: (
  card-font: (
    sm: 16,
    md: 48,
  ),
);

$size-preset-primary: var(--sc-size-preset-primary);
