@use 'functions' as *;

$font-size-prefix: fs-;
$font-sizes: (
  'default': (
    'text-content-preset': px-to-rem(14),
    'heading-preset': px-to-rem(24),
  ),
);

$font-size-clamp: ();

$font-family-base: 'Inter', sans-serif;
// $font-family-accent: $-ff-serif;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$fs-text-content-preset: var(--fs-text-content-preset);
$fs-heading-preset: var(--fs-heading-preset);
