@use 'functions' as *;
@use 'spacing' as *;
@use 'colors' as *;
@use 'tokens' as *;
@use 'sass:map';

// Utilities

// position values
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
);

// - z-index values
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
);

/* 
  MAIN UTILITIES MAP
  
  syntax of a utility class: $class-$value, 
  syntax of a utility class with responsivness; $class-$breakpoint-$value

  example 1: 
  class: z,
  property: z-index,
  values: 1, 2, 3, 4
  isResponsive: true,
  output: .z-1, .z-2, .z-3, .z-4;
  output responsive: .z-sm-1, z-md-1, z-lg-1 etc.

  example 2:
  class: d,
  property: display,
  values: grid
  output: .d-grid

  example 3:
  class: justify,
  property: justify-content,
  value: (
    between: space-between,
  )

  output: .justify-content-between


*/

$utilities: () !default;
$utilities: map-merge(
  (
    'z-index': (
      property: z-index,
      class: z,
      values: $zindex-levels,
    ),
    'margin-top': (
      property: margin-top,
      class: mt,
      values: $sizes,
    ),
    'margin-bot': (
      property: margin-bottom,
      class: mb,
      values: $sizes,
    ),
    'margin-left': (
      property: margin-left,
      class: ms,
      values: $sizes,
    ),
    'margin-right': (
      property: margin-right,
      class: me,
      values: $sizes,
    ),
    'margin-inline': (
      property: margin-inline,
      class: mx,
      values: $sizes,
    ),
    'margin-block': (
      property: margin-block,
      class: my,
      values: $sizes,
    ),
    'padding-top': (
      property: padding-top,
      class: pt,
      values: $sizes,
    ),
    'padding-bottom': (
      property: padding-bottom,
      class: pb,
      values: $sizes,
    ),
    'padding-left': (
      property: padding-left,
      class: ps,
      values: $sizes,
    ),
    'padding-right': (
      property: padding-right,
      class: pe,
      values: $sizes,
    ),
    'padding-block': (
      property: padding-block,
      class: py,
      values: $sizes,
    ),
    'padding-inline': (
      property: padding-inline,
      class: px,
      values: $sizes,
    ),
    'grid': (
      property: display,
      class: d,
      values: grid,
      isResponsive: true,
    ),
    'place-items': (
      property: place-items,
      class: place-items,
      values: center,
    ),
    'flex': (
      property: display,
      class: d,
      values: flex,
    ),
    'justify-content': (
      isResponsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),

    /* The background-colors and text-colors keys must remain unchanged. */
      'background-colors':
      (
        property: background-color,
        class: bg,
        values: $active-theme,
      ),
    'text-colors': (
      property: color,
      class: text,
      values: $active-theme,
    ),
  ),
  $utilities
);
