@use 'colors' as *;
@use 'fonts' as *;
@use 'functions' as *;
@use 'spacing' as *;
@use 'sass:map';
// colors
$clr-primary: var(--clr-primary);
$clr-secondary: var(--clr-secondary);
$clr-success: var(--clr-success);
$clr-info: var(--clr-info);
$clr-warning: var(--clr-warning);
$clr-danger: var(--clr-danger);
$clr-light: var(--clr-light);
$clr-dark: var(--clr-dark);
$clr-black: var(--clr-black);
$clr-white: var(--clr-white);

// general
$prefix: '';
$active-theme: map.get($color-theme, default);
$enable-media-query-dark-mode: false;
$focus-ring: 2px dashed $clr-primary;
$focus-ring-offset: 1px;

// font
$font-family-base: sans-serif;
$font-family-accent: serif;

// bootstrap grid-system and container
$bs-prefix: bs-;
$enable-bootstrap-grid-system: true;
$enable-cssgrid: true;
$enable-container-classes: true;

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$gutters: $sizes-regular;

// grid setting
$grid-gutter-width: 16px !default;
$grid-even-col-gap: $grid-gutter-width;
$grid-even-row-gap: $grid-gutter-width;

// container setting
$enable-container-classes: true;
$container-padding-x: 12px;

// body
$body-font-family: $font-family-base;
$body-font-size: px-to-rem(16);
$body-line-height: 1.5;
$body-font-weight: null;
$body-text-color: null;
$body-background-color: null;
$body-min-height: null;
